body { 
  background-image: url("http://cdn-vps.osijek031.com/slike/novosti_2011_09/2011_04_09_zrak_osijek_tvrdja_400.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

