body{background:#bce8f1}

p{color:yellow}

table{border-collapse: collapse;
      border: 4px solid black;}

div p {color :#255625;
    
}

.plava{color :red;
background:cadetblue; }

.slika {padding: 30px;
    width : 30%;}