body  {background-color: black;
			color: white;}
			h1 {color:red;}
                        .crveno {background-color: red;
                                 color: black;
                                font-family: Arial;
                        font-size: 30px}
                        .zeleno {background-color: green;
                                color: black;
                                font-family: Arial;
<<<<<<< HEAD
                                font-size: 30px}
                        
=======
                                font-size: 30px}
>>>>>>> 0097b5c653b7b169c1368e4ca30ae42614ca2a3c
